aside.menu{
    width: 100%;
    height: 5rem;
    border-bottom: 0.1rem solid var(--light-gray-color);

    position:fixed;
    top:0;
    left:0;
    z-index:999;
}

aside.menu div.container{
    height:100%;
    padding: 0 2rem;

    display:flex;
    justify-content:space-between;
    align-items: center;
}

aside.menu div.container h1.logo{
    font-size: 2.3rem;
    font-weight: bold;
    text-transform: uppercase;
    height: inherit;
}

aside.menu div.container nav{
    height: inherit;
}

aside.menu div.container nav ul{
    list-style-type: none;
    font-size: 1.5rem;
    height: inherit;

    display: flex;
    align-items: center;
    align-content: center;
}

aside.menu div.container nav ul li{
    margin: 0 2rem;
    height: inherit;
}

aside.menu div.container nav a{
    position:relative;
}

aside.menu div.container nav a::after{
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: var(--red-color);
    position: absolute;
    bottom: 1rem;
    left:100%;
    transition: all 300ms ease-in-out;
}

aside.menu div.container nav a:hover::after{
    width:100%;
    left: 0%;
}