section#intro div.container{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
}


div.intro-text, div.intro-img{
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
}

section#top3 div.container{
    max-width: 64rem;
    text-align:center;
}

