section#gallery div.container div.grid div.grid-img{
    max-width: 35rem;
    max-height: 35rem;
    overflow: hidden;
}

section#gallery div.grid-img:hover > img{
    transform:scale(1.2) rotate(5deg);
}

section#gallery div.container div.grid div.grid-img img{
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in;
}

section#price div.container{
    width:90%;
}

div.table{
    width:100%;
    max-width: 60rem;
    margin: 0 auto;
    overflow-x: auto;

}

table{
    font-size:1.5rem;
    min-width:60rem;
    border-collapse:collapse;
}

table caption{
    text-align: left;
    margin-bottom: 1rem;
    font-style:italic;
}

table th, table td{
    border: 0.1rem solid var(--light-gray-color);
    text-align:left;
    padding: 0.6rem;
}

table thead{
    background-color:var(--dark-gray-color);
}

table tfoot{
    background-color: var(--light-gray-color);
}

section#contact div.container form{
    width:100%;
    margin:0 auto;
}

section#contact div.container form fieldset{
    border:none;
    width:100%;

    display: flex;
    flex-flow: row wrap;
    gap:2rem;
}

section#contact div.container form fieldset legend{
    font-style:italic;
    font-size: 2rem;
    margin-bottom: 2rem;
}

section#contact div.container form .form-camp{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 320px;
}

section#contact div.container form .form-camp label{
    margin-bottom: 0.75rem;
    font-size:1.5rem;
}

.form-camp input, 
.form-camp textarea{
    padding: 1.5rem 2rem;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.6rem;

    outline: none;
    border:none;
}

.form-camp textarea{
    resize: none;
    height:20rem;
}

.form-camp input:focus, 
.form-camp textarea:focus{
    box-shadow: 0 0 0.25rem 0.25rem var(--red-color);
}

.form-camp input::placeholder, 
.form-camp textarea::placeholder{
    color:var(--blue-color);
    opacity:0.5;
    font-family: "Open Sans", sans-serif;
}

section#contact div.container form .form-camp.email,
section#contact div.container form .form-camp.msg{
    flex:1 1 100%;
}

form button{
    margin: 3rem auto;
    padding: 1.5rem 2rem;
    border: 3px solid var(--white-color);
    font-size: 2rem;
    color: var(--white-color);
    background-color: var(--dark-blue-color);

    transition:all 300ms ease-in-out;
    cursor:pointer;
}

form button:hover{
    background-color: var(--white-color);
    color: var(--dark-blue-color);
}

footer a{
    padding: 2rem 0;
    width:100%;
    height: 100%;
    font-family:"Montserrat", sans-serif;
    font-size:1.5rem;
    font-weight: 400;

    display: flex;
    align-items:center;
    justify-content:center;
}

footer a span{
    transition: all 300ms ease-in-out;
}

footer a span:first-child{
    color:var(--red-color);
}

footer a:hover span:last-child{
    color:var(--red-color);
}

@media screen and (max-width:600px){
    section#gallery div.container div.grid div.grid-img{
        margin: 0 auto;
    }
}